In [2]:
import numpy as np
import pandas as pd

In [3]:
basketball_data =pd.read_html('https://en.wikipedia.org/wiki/NBA_All-Star_Game#All-Star_Game_results')
basketball_data

[  National Basketball Association All-Star Game  \
 0                                           NaN
 1                                     Frequency
 2                                   Inaugurated
 3                                   Most recent
 4                                Previous event
 5                                    Next event
 6                                  Participants
 7                                  Organized by
 8                        2023 NBA All-Star Game

      National Basketball Association All-Star Game.1
 0                                                NaN
 1                                             Annual
 2                                               1951
 3                                        2023 (Utah)
 4                                   2022 (Cleveland)
 5                                     2024 (Indiana)
 6  Eastern Conference and Western Conference All-...
 7                    National Basketball Association
 8                             2023 NBA All-Star Game  ,
 Empty DataFrame
 Columns: [Western Conference (29 wins), Eastern Conference (37 wins)]
 Index: [],
         Year                              Result  \
 0       1951                   East 111, West 94
 1       1952                   East 108, West 91
 2       1953                    West 79, East 75
 3       1954               East 98, West 93 (OT)
 4       1955                   East 100, West 91
 ..       ...                                 ...
 69      2020  Team LeBron 157, Team Giannis 155‡
 70      2021    Team LeBron 170, Team Durant 150
 71  2022[18]    Team LeBron 163, Team Durant 160
 72  2023[19]   Team Giannis 184, Team LeBron 175
 73      2024                         TBA vs. TBA

                             Host arena                    Host city  \
 0                        Boston Garden        Boston, Massachusetts
 1                    Boston Garden (2)    Boston, Massachusetts (2)
 2   Allen County War Memorial Coliseum          Fort Wayne, Indiana
 3          Madison Square Garden III**      New York City, New York
 4      Madison Square Garden III** (2)  New York City, New York (2)
 ..                                 ...                          ...
 69                       United Center        Chicago, Illinois (3)
 70                State Farm Arena (2)         Atlanta, Georgia (3)
 71      Rocket Mortgage FieldHouse (2)          Cleveland, Ohio (2)
 72                    Vivint Arena (2)     Salt Lake City, Utah (2)
 73        Gainbridge Fieldhouse[20][f]   Indianapolis, Indiana† (2)

                                   Game MVP
 0              Ed Macauley, Boston Celtics
 1       Paul Arizin, Philadelphia Warriors
 2         George Mikan, Minneapolis Lakers
 3                Bob Cousy, Boston Celtics
 4             Bill Sharman, Boston Celtics
 ..                                     ...
 69     Kawhi Leonard, Los Angeles Clippers
 70  Giannis Antetokounmpo, Milwaukee Bucks
 71    Stephen Curry, Golden State Warriors
 72            Jayson Tatum, Boston Celtics
 73                                     NaN

 [74 rows x 5 columns],
    .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}vteNBA All-Star Games  \
 0   All-Star Weekend Rising Stars Challenge Shooti...
 1                                               1950s
 2                                                 NaN
 3                                               1960s
 4                                                1960
 5                                               1970s
 6                                                1970
 7                                               1980s
 8                                                1980
 9                                               1990s
 10                                               1990
 11                                              2000s
 12                                               2000
 13                                              2010s
 14                                               2010
 15                                              2020s
 16                                               2020

    .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}vteNBA All-Star Games.1  \
 0   All-Star Weekend Rising Stars Challenge Shooti...
 1        1951 1952 1953 1954 1955 1956 1957 1958 1959
 2                                                1951
 3   1960 1961 1962 1963 1964 1965 1966 1967 1968 1969
 4                                                1961
 5   1970 1971 1972 1973 1974 1975 1976 1977 1978 1979
 6                                                1971
 7   1980 1981 1982 1983 1984 1985 1986 1987 1988 1989
 8                                                1981
 9   1990 1991 1992 1993 1994 1995 1996 1997 1998 1999
 10                                               1991
 11  2000 2001 2002 2003 2004 2005 2006 2007 2008 2009
 12                                               2001
 13  2010 2011 2012 2013 2014 2015 2016 2017 2018 2019
 14                                               2011
 15                           2020 2021 2022 2023 2024
 16                                               2021

     Unnamed: 2  Unnamed: 3  Unnamed: 4  Unnamed: 5  Unnamed: 6  Unnamed: 7  \
 0          NaN         NaN         NaN         NaN         NaN         NaN
 1          NaN         NaN         NaN         NaN         NaN         NaN
 2       1952.0      1953.0      1954.0      1955.0      1956.0      1957.0
 3          NaN         NaN         NaN         NaN         NaN         NaN
 4       1962.0      1963.0      1964.0      1965.0      1966.0      1967.0
 5          NaN         NaN         NaN         NaN         NaN         NaN
 6       1972.0      1973.0      1974.0      1975.0      1976.0      1977.0
 7          NaN         NaN         NaN         NaN         NaN         NaN
 8       1982.0      1983.0      1984.0      1985.0      1986.0      1987.0
 9          NaN         NaN         NaN         NaN         NaN         NaN
 10      1992.0      1993.0      1994.0      1995.0      1996.0      1997.0
 11         NaN         NaN         NaN         NaN         NaN         NaN
 12      2002.0      2003.0      2004.0      2005.0      2006.0      2007.0
 13         NaN         NaN         NaN         NaN         NaN         NaN
 14      2012.0      2013.0      2014.0      2015.0      2016.0      2017.0
 15         NaN         NaN         NaN         NaN         NaN         NaN
 16      2022.0      2023.0      2024.0         NaN         NaN         NaN

     Unnamed: 8  Unnamed: 9
 0          NaN         NaN
 1          NaN         NaN
 2       1958.0      1959.0
 3          NaN         NaN
 4       1968.0      1969.0
 5          NaN         NaN
 6       1978.0      1979.0
 7          NaN         NaN
 8       1988.0      1989.0
 9          NaN         NaN
 10      1998.0      1999.0
 11         NaN         NaN
 12      2008.0      2009.0
 13         NaN         NaN
 14      2018.0      2019.0
 15         NaN         NaN
 16         NaN         NaN  ,
     0     1     2     3     4     5     6     7     8     9
 0 NaN  1951  1952  1953  1954  1955  1956  1957  1958  1959,
       0     1     2     3     4     5     6     7     8     9
 0  1960  1961  1962  1963  1964  1965  1966  1967  1968  1969,
       0     1     2     3     4     5     6     7     8     9
 0  1970  1971  1972  1973  1974  1975  1976  1977  1978  1979,
       0     1     2     3     4     5     6     7     8     9
 0  1980  1981  1982  1983  1984  1985  1986  1987  1988  1989,
       0     1     2     3     4     5     6     7     8     9
 0  1990  1991  1992  1993  1994  1995  1996  1997  1998  1999,
       0     1     2     3     4     5     6     7     8     9
 0  2000  2001  2002  2003  2004  2005  2006  2007  2008  2009,
       0     1     2     3     4     5     6     7     8     9
 0  2010  2011  2012  2013  2014  2015  2016  2017  2018  2019,
       0     1     2     3     4   5   6   7   8   9
 0  2020  2021  2022  2023  2024 NaN NaN NaN NaN NaN,
   vteNBA All-Star Game Kobe Bryant Most Valuable Player Award  \
 0  1951: Macauley 1952: Arizin 1953: Mikan 1954: ...

   vteNBA All-Star Game Kobe Bryant Most Valuable Player Award.1
 0  1951: Macauley 1952: Arizin 1953: Mikan 1954: ...             ,
             vteNational Basketball Association  \
 0                           Eastern Conference
 1                                     Atlantic
 2                                      Central
 3                                    Southeast
 4                           Western Conference
 5                                    Northwest
 6                                      Pacific
 7                                    Southwest
 8                                Annual events
 9                                      History
 10                                      People
 11                           Awards and honors
 12                                      Others
 13  Basketball portal  Category 2022–23 season

                  vteNational Basketball Association.1
 0   Atlantic Boston Celtics Brooklyn Nets New York...
 1   Boston Celtics Brooklyn Nets New York Knicks P...
 2   Chicago Bulls Cleveland Cavaliers Detroit Pist...
 3   Atlanta Hawks Charlotte Hornets Miami Heat Orl...
 4   Northwest Denver Nuggets Minnesota Timberwolve...
 5   Denver Nuggets Minnesota Timberwolves Oklahoma...
 6   Golden State Warriors Los Angeles Clippers Los...
 7   Dallas Mavericks Houston Rockets Memphis Grizz...
 8   Draft eligibility Summer League Christmas Day ...
 9   Predecessors BAA NBL ABA merger Walter A. Brow...
 10  Players Current rosters Eastern Western Foreig...
 11  Larry O'Brien Trophy NBA awards MVP Finals MVP...
 12  Arenas Business Collective bargaining agreemen...
 13         Basketball portal  Category 2022–23 season  ,
            0                                                  1
 0   Atlantic  Boston Celtics Brooklyn Nets New York Knicks P...
 1    Central  Chicago Bulls Cleveland Cavaliers Detroit Pist...
 2  Southeast  Atlanta Hawks Charlotte Hornets Miami Heat Orl...,
            0                                                  1
 0  Northwest  Denver Nuggets Minnesota Timberwolves Oklahoma...
 1    Pacific  Golden State Warriors Los Angeles Clippers Los...
 2  Southwest  Dallas Mavericks Houston Rockets Memphis Grizz...]

In [5]:
basketball_data.columns

AttributeError: 'list' object has no attribute 'columns'

In [4]:
separate = pd.read_html('https://en.wikipedia.org/wiki/NBA_All-Star_Game#All-Star_Game_results')
pd.concat([separate[0],separate[1]])

,National Basketball Association All-Star Game,National Basketball Association All-Star Game.1,Western Conference (29 wins),Eastern Conference (37 wins)
0,NaN,NaN,NaN,NaN
1,Frequency,Annual,NaN,NaN
2,Inaugurated,1951,NaN,NaN
3,Most recent,2023 (Utah),NaN,NaN
4,Previous event,2022 (Cleveland),NaN,NaN
5,Next event,2024 (Indiana),NaN,NaN
6,Participants,Eastern Conference and Western Conference All-...,NaN,NaN
7,Organized by,National Basketball Association,NaN,NaN
8,2023 NBA All-Star Game,2023 NBA All-Star Game,NaN,NaN